<!--
  Generated template for the ViewMemoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Memory</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <img *ngIf="mem.Img === ''" src="../../assets/imgs/nin-live.png" />
    <img *ngIf="mem.Img !== ''" [src]="mem.Img" />
    <h1> {{ mem.Title }}</h1>
    <p class="content">
        {{ mem.Description}} 
    </p>
    <p *ngIf="mem.Location.name.length > 0"><i>At {{mem.Location.name}} <span *ngIf="mem.Location.coords.lat">{{mem.Location.coords | coordinatesPipe}}</span></i></p>
    <div class="mark-container">
        <ion-icon *ngFor="let i of [1,2,3,4,5]" (click)="updateMark(i)" [name]="i | mark:mem.Mark"></ion-icon>
        <ion-icon class="bookmark" (click)="memoryProvider.switchBookmark(mem)" [name]="mem.Bookmark | bookmark"></ion-icon>
    </div>
    <div class="tags-container">
        <div class="tag" *ngFor="let tag of mem.Tags">
            <ion-badge color="primary">{{tag}}</ion-badge>
        </div>
    </div>
    <ion-fab right bottom>
        <button ion-fab (click)="presentActionSheet()">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-fab>

</ion-content>