<ion-header>
  <ion-navbar>
    <ion-title>
      Memories
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-card *ngFor="let mem of memories">
        <img *ngIf="mem.img" src="../../assets/imgs/{{mem.img}}"/>
        <ion-card-content>
            <ion-card-title>
            {{mem.title | LimitTo: 40}}        
        </ion-card-title>
        <p>
        {{ mem.content | LimitTo: 300 }}
        </p> 
    </ion-card-content>
  </ion-card> 

  <ion-fab right bottom>
        <button ion-fab color="blue"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
